.res-card{
    /* height: 400px; */
    width: 300px;
    margin-top: 30px;
    padding: 5px;
    background-color: rgb(247, 243, 237)    ;
        box-shadow: 5px 5px 10px gray;
        margin: 20px;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.image{
    padding: 5px;
    width: 290px;
    height: 150px;
}
.shim-card{
        width: 300px;
    margin-top: 30px;
    padding: 5px;
    height: 200px;
    background-color: rgb(241, 237, 230)    ;
        box-shadow: 5px 5px 10px gray;
        margin: 20px;
}
.shim-container{
    display: flex;
    flex-wrap: wrap;
}